@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dashboard {
  display: flex;
  flex-flow: column nowrap;
  margin: 20px 10%;
}

.dashboard-input {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.dashboard-controls {
  display: flex;
  flex-flow: column nowrap;
  margin: auto 0;
}

.dashboard-controls input {
  outline: none;
  margin-right: 10px;
}

.dashboard-controls .btn {
  margin: 10px;
}

.dashboard-controls input:hover {
  cursor: pointer;
}

.dashboard-controls label {
  user-select: none;
  margin: 10px;
}

.dashboard-results {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px;
}

.panel-body {
  padding: 0px;
}

.document-container {
  width: 40%;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.14);
  border-radius: 3px;
}

.document-container-title {
  font-size: 20px;
}

.document-container-input {
  overflow-y: scroll;
  padding: 10px 20px;
  height: 90%;
}

.document-container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -20px 15px 0;
  padding: 14px;
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
  background: linear-gradient(60deg, #2BABE1, #2BABEF);
  color: white;
}

.document-container-header .icon {
  margin-left: 20px;
}

.document-container-header .icon:hover {
  cursor: pointer;
}

.document-input-area {
  width: 100%;
  min-height: 70px;
  outline: none;
  border: none;
  resize: vertical;
  max-height: 400px;
}

.profile-container {
  height: 500px;
  border: none;
}

.icon {
  position: relative;
  width: 16px;
  height: 16px;
}

.icon-plus {
  background-color: #00374F;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  top:0;
  left:0;
}

.icon-plus:after {
  background-color: white;
  width: 12px;
  height: 4px;
  border-radius: 1px;
  position: absolute;
  top: 8px;
  left: 4px;
  content:"";
}

.icon-plus:before {
  background-color: #fff;
  width: 4px;
  height: 12px;
  border-radius: 1px;
  position: absolute;
  top:4px;
  left: 8px;
  content:"";
}

.new-document {
  height: 100%;
  resize: none;
}

.no-results {
  font-size: 1.5em;
}

.results-container {
  margin: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.14);
  border-radius: 3px;
  width: 100%;
}

.results-container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -20px 15px 0 !important;
  padding: 14px;
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
  background: linear-gradient(60deg, #2BABE1, #2BABEF);
  color: white;
}

.results-container-title {
  font-size: 1.5em;
}

.sentence-results {
  padding: 20px;
  text-align: left;
}
