.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.dashboard {
  display: flex;
  flex: column;
  justify-content: space-around;
  margin-top: 30px;

}

.dashboard-text {
  resize: none;
  outline: none;
}

.dashboard-controls .btn {
  width: 150px;
}

.dashboard-result {
  resize: none;
  outline: none;
  border: none;
}
