#root {
  background-color: #EEE;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #00374F;
  height: auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
  color: white;
}

.App-intro {
  font-size: large;
}

.dashboard-text {
  resize: none;
  outline: none;
}

.dashboard-controls .btn {
  width: 150px;
}

.dashboard-result {
  resize: none;
  outline: none;
  border: none;
}

.ant-collapse {
  margin: 16px !important;
}

button.ant-btn.ant-btn-primary {
  margin: 10px;
  background: linear-gradient(60deg, #2BABE1, #2BABEF);
  border: none;
  box-shadow: 0 1px 4px rgba(0,0,0,0.14);
  height: 45px;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding-top: 16px;
  padding-bottom: 10px !important;
}
